[submodule "plantuml-syntax.vim"]
	path = vim/bundle/plantuml-syntax.vim
	url = https://github.com/ukstv/plantuml-syntax.vim.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/snipmate.vim"]
  ignore = untracked
	path = vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/vim-stylus"]
	path = vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
  ignore = untracked
